body {
  background-color:#ffffff;
}
#h001 {
  font-family: arial;
  font-size: 30px;
  color: black
}
#topBanner {
  overflow: hidden;
  height: 200px;
  width: 1230px;
  background-color: white;
}
#banner {
  float: left;
  /* border: 1px solid black; */
}
#table {
  /* position: relative; */
  width: 305px;
  /* border: 1px solid black; */
  margin-left: 900px;
  margin-top: 150px;
}
table {
  overflow: hidden;
  border-collapse: collapse;
}
/* SCROLL BAR */
/* #p01::-webkit-scrollbar { */
/*     width: 1em; */
/* } */
/*   */
/* #p01::-webkit-scrollbar-track { */
/*     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
/* } */
/*   */
/* #p01::-webkit-scrollbar-thumb { */
/*   background-color: darkgrey; */
/*   outline: 1px solid slategrey; */
/* } */

body {
  margin-left: 100px;
}
#hr01 {
  /* margin-top: 40px; */
}
#wrapper01 {
  width: 1300px;
  height: 60px;
  /* border: 1px solid black; */
  overflow: hidden;
}
.InsideContent {
  display: inline-block;
}
#p0 {
}
#topHeader {
  float: left;
  font-size: 60px;
  /* margin-bottom: 50px; */
  /* border: 1px solid black; */
  width: 400px;
  font-family: tahoma;
}
#slogan {
  vertical-align: top;
  height: 50px;
  width: 400px;
  float: left;
  /* border: 1px solid black; */
  /* margin-bottom: 50px; */
  /* display: inline-block; */
  /* bottom: 100px; */
  /* margin-bottom: 200px; */
}
#div02 {
  /* border: 1px solid black; */
  margin-top: 50px;
}
#wine1 {
  /* border: 1px solid black; */
  overflow: hidden;
}
#wine2 {
  overflow: hidden;
  /* border: 1px solid black; */
}
#winePic1 {
  /* border: 1px solid black; */
  margin-left: 200px;
}
#winePic2 {
  /* border: 1px solid black; */
  margin-left: 300px;
}
#p01 {
  /* border: 1px solid black; */
  position: relative;
  top: 30px;
  right: 200px;
  line-height: 150%;
  /* margin-left: auto; */
  float: right;
  padding: 10px;
  width: 524px;
  height: 470px;
  /* overflow-y: scroll; */
  color: black;
  font-family: helvetica;
}
/* #p02 { */
/*   color: darkblue; */
/*   overflow-y: scroll; */
/*   font-family: fantasy; */
/* } */
td, th {
  /* margin-left: auto; */
  /* display: inline-block; */
  border: 1.5px solid black;
  position: relative;
}
/* td:hover::after, */
/* th:hover::after { */
/*   content: ""; */
/*   position: absolute; */
/*   background-color: #ffa; */
/*   left: 0; */
/*   top: -5000px; */
/*   height: 10000px; */
/*   width: 100%; */
/*   z-index: -1; */
/* } */
th {
  padding: 10px;
  /* width: 100px; */
  height: 10px;
}

/* 3rd section */
#wrapper02 {
  overflow: scroll;
  height: 150px;
  /* border: 1px solid black; */
}
.InsideContent {
  display: inline-block;
}
#postAddr {
  font-family: helvetica;
  height: 100px;
  width: 150px;
  /* border: 1px solid-block; */
  margin-left: 50px;
  float: left;
}
#copyright {
  font-family: helvetica;
  height:0px;
  /* border: 1px solid-block; */
  margin-left: 500px;
  /* float: left; */
}
#logo {
  /* border: 1px solid black; */
  margin-left: 1000px;
}
#futureShipments, #dates {
  font-family: helvetica;

}
tr {background-color:#ffffff}
tr:hover{background-color:#d4d8d9}
