body {
  /* Resizable background for dynamic window sizing */
  background: url(../imgs/sunrise.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#div01 {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
}
h1 {
  color: blue;
}
#p01 {
  color: red;
  font-family: arial;
  border: 1px solid powderblue;
}
#p02 {
  color: darkblue;
  font-family: fantasy;
}
a {
  font-family: arial;
  /* font-size: 40px; */
}
